## 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [8]:
test1 = 'this is a test of the emergency text system'

In [9]:
file = open('text.txt', 'wt')

In [10]:
file.write(test1)

43

In [11]:
file.close()

## 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [13]:
with open('text.txt', 'rt') as infile:
    test2 = infile.read()

In [14]:
len(test2)

43

In [15]:
test1 == test2

True

## 3. Create a CSV file called books.csv by using these lines:

title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [16]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [17]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

## 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [18]:
import sqlite3

In [19]:
db = sqlite3.connect('books.db')

In [20]:
curs = db.cursor()

In [21]:
curs.execute('''create table book (title text, author text, year int)''')

In [22]:
db.commit()

## 5. Read books.csv and insert its data into the book table.

In [23]:
import csv

In [24]:
import sqlite3

In [25]:
ins_str = 'insert into book values (?, ?, ?)'

In [28]:
with open("books.csv",'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [30]:
db.commit()

## 6. Select and print the title column from the book table in alphabetical order.

In [31]:
sql = 'select title from book order by title asc'

In [32]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [33]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

## 7. From the book table, select and print all columns in the order of publication.

In [35]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [37]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

## 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [38]:
import sqlalchemy

In [40]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [43]:
sql = 'select title from book order by title asc'

In [44]:
rows = conn.execute(sql)

In [45]:
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

## 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [46]:
!pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 redis-4.5.4

import redis conn = redis.Redis() conn.delete('test') 1 conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) True 
conn.hgetall('test') {b'name': b'Fester Bestertester', b'count': b'1'}

## 10. Increment the count field of test and print it.

conn.hincrby('test', 'count', 3) 4 conn.hget('test', 'count') b'4'